.ws_message {
  color: #940101;
}

.you_message {
  color: #4662b4;
}

.chat_image {
  width: 100px;
}

.chat_audio{

}

#chat_card {
  position: fixed;
  bottom: 10px;
  right: 10px; 
}

#chat_button {
  position: fixed;
  bottom: 10px;
  right: 10px; 
}